@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@mixin aspect1-1() {
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
}

@mixin padding-rectangular {
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

@mixin animationShowRight() {
  animation: showRight forwards linear 0.5s;
}
@mixin animationShowLeft() {
  animation: showLeft forwards linear 0.5s;
}
