---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Términos y Condiciones">
  <div class="container_info">
    <div class="data">
      <h1>Política de Privacidad</h1>

      <h3>Datos que recopilamos:</h3>
      <ul>
        <li>Información personal (nombre, email, ubicación).</li>
        <li>Datos de uso (interacciones en la app).</li>
        <li>Datos técnicos (dispositivo, IP).</li>
      </ul>
      <h3>Uso de la información:</h3>
      <ul>
        <li>Mejorar nuestros servicios.</li>
        <li>Enviar comunicaciones relevantes.</li>
        <li>Análisis estadísticos anónimos.</li>
      </ul>
      <h3>Compartir datos:</h3>
      <ul>
        <li>
          No vendemos tu información. Solo compartimos datos con terceros si es
          necesario para el servicio (ej: procesadores de pago).
        </li>
      </ul>
      <h3>Seguridad:</h3>
      <ul>
        <li>Encriptación SSL y protocolos de protección.</li>
      </ul>
      <h3>Tus derechos:</h3>
      <ul>
        <li>Puedes solicitar acceso, corrección o eliminación de tus datos.</li>
      </ul>
    </div>
    <picture>
      <img
        transition:name="imagen-principal"
        src="https://assets.turbologo.ru/blog/ru/2022/04/15043140/158.png"
        alt=""
      />
    </picture>
  </div>
</Layout>

<style lang="scss">
  @use "/src/styles/sass/index.scss" as *;
  .container_info {
    padding-block: 2dvh;
    padding-inline: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    .data {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    picture {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        border-radius: $border-radius;
      }
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: inside;
  }
</style>
