---
import { Picture } from "astro:assets";
import appImage from "../../assets/gui/mix.png";
---

<div class="frontpage">
    <div class="container_text">
        <h1>Salabisness</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Dolorum vero libero iure? Animi ex sapiente, hic quasi libero, voluptatum 
            tenetur exercitationem nam repellendus eum ut deleniti! Aliquam, quasi 
            debitis. 
        </p>
        <div class="container_imgs">
            <button>
                <img src="/public/applestore-es.png" alt="">
            </button>
            <button>
                <img src="/public/disponible-apk.svg" alt="">
            </button>
        </div>
    </div>
    <Picture 
    src={appImage}
    alt="Salabisness App"
    loading="lazy"
    decoding="async"
    quality="high"
    >
    </Picture>
     
</div>
<hr class="divisor">


<style lang="scss">
    @use "/src/styles/sass/index.scss" as *;
    .frontpage{
        margin-inline: 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-block: 2%;
    }
    .container_text{
        @include flexColumn();
    }
    picture{
        width: 100%;
        @include flexCenter();
        position: relative;
        @include animationShowRight();
        img{
            width: 25rem;
            height: 25rem;
            @include aspect1-1();
            animation: respirationDropShadow infinite 5s linear;
        }
    }
    @media screen and (max-width:600px) {
        .frontpage{
            @include flexColumn();
        }
        picture{
            justify-content: start !important;
        }
        img{
            width: 15rem !important;
            height: 15rem !important;
            margin: 0;
            padding: 0;
        }
    }
    .container_imgs{
        @include flexCenter();

    }

    button{
        width: 10rem;
        height: 5rem;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;

        img{
            width: 100%;
            height: 100%;
            aspect-ratio: 16/9;
            object-fit: contain;
            object-position: center;
        }
    }
</style>